@model List<WebApp.Models.Product>

<div class="container mt-5">
    <h4>Products</h4>
    <div class="list-group">
    @foreach(var product in Model)
    {
        <a asp-action="Details" asp-route-id="@product.Id" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@product.Name</h5>
                <a asp-action="AddToCart" asp-route-id="@product.Id">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <p class="mb-1">@product.Description</p>
            <small>@product.Price SEK</small>
        </a>
    }
    </div>
</div>
